on:
  workflow_dispatch:
  push:
    branches: main

name: R-Render-Publish

jobs:
  build-deploy:
    runs-on: macos-latest #ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

#      - name: Install ubuntu deps
#        run: sudo apt install -y --no-install-recommends \
#          libcurl4-openssl-dev

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.5.1'

      # Install gettext (libintl.h) required for R >= 4.5
      - name: Install dependencies on MacOS
        if: runner.os == 'macOS'
        run: |
          sudo Rscript -e "source('https://mac.R-project.org/bin/install.R'); install.libs('gettext')"

      - name: Install R Dependencies
        uses: r-lib/actions/setup-renv@v2
        with:
          cache-version: 1

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}